<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agro.mapper.AgroIndexMapper">

    <resultMap type="AgroIndexVar" id="AgroIndexVarResult">
        <result property="varietiesNum"    column="varieties_num"    />
        <result property="livestockVarieties"    column="livestock_varieties"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>


    <select id="selectIndexVarList"   parameterType="AgroIndexVar" resultMap="AgroIndexVarResult">

        SELECT COUNT(1) AS varieties_num, livestock_varieties
        FROM agro_livestock as t
        <where>
            ${params.dataScope}
        </where>
        GROUP BY livestock_varieties
    </select>



        <resultMap type="AgroRankingFarmers" id="AgroRankingFarmersResult">
            <result property="num"    column="num"    />
            <result property="agroUserName"    column="agro_user_name"    />
            <result property="userId"    column="user_id"    />
            <result property="deptId"    column="dept_id"    />
        </resultMap>


        <select id="selectIndexUserNumList"   parameterType="AgroRankingFarmers" resultMap="AgroRankingFarmersResult">
            SELECT COUNT(1) AS num, agro_user_name
            FROM agro_livestock as t
            <where>
            ${params.dataScope}
            </where>

            GROUP BY agro_user_name
        </select>



    <resultMap type="AgroOnOffLineDevice" id="AgroOnOffLineDeviceResult">
        <result property="deviceType"    column="device_type"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="totalNumber"    column="total_number"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>



    <select id="selectEbOnOffLineDevice"   parameterType="AgroOnOffLineDevice" resultMap="AgroOnOffLineDeviceResult">
        SELECT
        device_type,
        CASE
        WHEN date >= DATE_SUB(NOW(), INTERVAL 2 DAY) THEN '在线'
        ELSE '离线'
        END AS device_status,
        COUNT(*) AS total_number
        FROM
        dm_rtdata as t
        <where>
            device_type = '耳标' ${params.dataScope}
        </where>
        GROUP BY
        device_type,
        CASE
        WHEN date >= DATE_SUB(NOW(), INTERVAL 2 DAY) THEN '在线'
        ELSE '离线'
        END;


    </select>


    <select id="selectXqOnOffLineDevice"   parameterType="AgroOnOffLineDevice" resultMap="AgroOnOffLineDeviceResult">
        SELECT
        device_type,
        CASE
        WHEN date >= DATE_SUB(NOW(), INTERVAL 2 DAY) THEN '在线'
        ELSE '离线'
        END AS device_status,
        COUNT(*) AS total_number
        FROM
        dm_rtdata as t
        <where>
            device_type = '项圈' ${params.dataScope}
        </where>
        GROUP BY
        device_type,
        CASE
        WHEN date >= DATE_SUB(NOW(), INTERVAL 2 DAY) THEN '在线'
        ELSE '离线'
        END;
    </select>


</mapper>